body {
  width: 100%;
    height: 100%;
    background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/d0cecbbf-1a20-4b48-b136-fb096af19515/bvlatuR/std/2880x1800/model-3-main-hero-a-desktop) ;
    background-size: cover;
    background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
  }
  .container {
    
  }
  .nav {
    display: flex;
    /* background-color: lightblue; */
    justify-content: space-between;
    color: white;
    /* align-items: center; */
  }
  .logo {
    padding: 10px;
    margin: 10px;
    align-self: baseline;
  }
  .items {
    display: flex;
  }
  .items span {
    
    padding: 10px;
    margin: 10px;
  }
  .itemsCenter {
      display: flex;
  }
  .itemsCenter span {
      padding: 10px;
      margin: 10px;
  }
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  h2 {
  font-size: 60px;
  }
  footer {
    position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   display: flex;
   
   justify-content: space-around;
   align-items: center;
  }
  .footer_right {
    display: flex;
  }
.footer_left {
  display: flex;
justify-content: space-between;
}
  